h2 a, h2 {
    color: #ae6bc9;
    font-family: "Lobster";
}
h1 a{
  color:#fff;
  font-family: "Lobster";
  font-size: 125%;
}
h2 a:hover, h1 a:hover{
  color:#763591;
  text-decoration: none;
}

.page-header{
  background-color: #ae6bc9;
  padding:3%;
  padding-right: 4%;
  margin-top: 0;
  margin-bottom: 3%;
}
.date{
float:right;
}
.post{
  margin-bottom: 10%;
}
.save{
  float:right;
}

.menu, .menu:hover{
  color: #ffffff;
  float: right;
  font-size: 200%;
  padding-right: 5%;
}
.add, .add:hover{
  float:right;
  color:#000;

}
.post-form textarea, .post-form input {
    width: 100%;
}
